
/*Estilos del blog*/
.single{
    h2{
        text-align: center;
        font-family: $fuente_titulos;
        color:$color_titulos;
    }
}
.home-newsletter{
    padding-top: 20px;
    padding-bottom: 20px;
    background:#D1E8F6 ;
}

.carousel-item{
    h5{
        font-size: 1.8rem;
        font-weight: 700;
        color: #fff;;
    }
    p{
        font-size: 1.5rem;
        font-weight: 400;
        color: #fff;
    }
}